.imports-index-mini-thumbnail-list{
    display: flex;
    flex-wrap: wrap;
    img{
        $img_dimensions: 40px;
        object-fit: cover;
        width: $img_dimensions;
        height: $img_dimensions;
    }
}