.imports-index-mini-thumbnail-list{
    display: flex;
    flex-wrap: wrap;
    img{
        object-fit: cover;
        object-position: top;
        width: 80px;
        height: 40px;
        transition: width 0.5s, height 0.75s;
    }
}

.imports-index-item-link:hover{
    .imports-index-mini-thumbnail-list{
        img{
            height: 90px;
            width: 100px;
        }
    }
}